.blockquote {
  @apply bg-gray-100 dark:bg-dark-80;
  border-left: 5px solid #075e40;
  margin: 1.5em 0.5em;
  padding: 1px 20px 16px;
  overflow-x: scroll;
}

.ul {
  @apply list-disc list-inside;
}

.p {
  @apply text-xl;
}

.code {
  @apply text-lg rounded px-1 bg-markdown-codeBg text-markdown-codeText dark:bg-gray-A200 dark:text-dark-contrastText;
}
