@tailwind base;
@tailwind components;
@tailwind utilities;

.tailwind-hidden {
  display: none;
}

/* Write your own custom base styles here */
@layer base {
  .text-heading {
    font-family: "Poppins";
  }

  h1 {
    @apply font-semibold leading-tight text-5xl text-heading;
  }
  h2 {
    @apply font-semibold leading-normal tracking-wide text-4xl text-heading;
  }
  h3 {
    @apply font-semibold leading-normal tracking-wide text-3xl text-heading;
  }
  h4 {
    @apply font-semibold leading-normal tracking-wide text-2xl text-heading;
  }
  h5 {
    @apply font-bold leading-normal text-xl tracking-wide text-heading;
  }
  h6 {
    @apply font-bold leading-normal text-base tracking-wide text-heading;
  }

  button {
    font-size: 0.9375rem;
    @apply text-white font-normal rounded-sm border-0 p-3 flex leading-normal tracking-wide whitespace-nowrap duration-200 items-center justify-center;
  }

  button:focus {
    @apply outline-none;
  }

  button:disabled {
    @apply bg-gray-300;
  }

  input {
    @apply text-secondary-800 font-normal p-3 flex items-center border border-gray-300 rounded;
  }

  input:focus {
    @apply outline-none ring-1 ring-secondary-600 border-secondary;
  }

  body {
    @apply text-black dark:text-dark-contrastText;
  }
}

/* Write you own custom component styles here */
@variants responsive {
  button.contained-primary {
    @apply bg-primary border border-solid border-primary;
  }

  button.contained-primary:hover:enabled {
    @apply bg-primary-600 border-primary-600;
  }

  button.contained-primary:disabled {
    @apply bg-gray-300 border-gray-300;
  }

  button.contained-secondary {
    @apply bg-secondary border border-solid border-secondary;
  }

  button.contained-secondary:hover:enabled {
    @apply bg-secondary-800 border-secondary-800;
  }

  button.contained-secondary:disabled {
    @apply bg-gray-300 border-gray-300;
  }

  button.contained-error {
    @apply bg-error border border-solid border-error;
  }
  button.contained-error:hover:enabled {
    @apply bg-error-300 border-error-300;
  }
  button.contained-error:disabled {
    @apply bg-gray-300 border-gray-300;
  }

  button.outlined-primary {
    @apply bg-transparent border border-solid border-primary text-primary;
  }

  button.outlined-primary:hover:enabled {
    background-color: rgba(73, 165, 33, 0.14);
    @apply border border-solid border-primary text-primary;
  }

  button.outlined-primary:disabled {
    @apply bg-gray-100 border-gray-300 text-gray-300;
  }

  button.outlined-default {
    border: 1px solid rgba(0, 0, 0, 0.23);
    color: rgba(0, 0, 0, 0.87);
    @apply bg-transparent dark:text-dark-contrastText dark:border-dark-contrastText;
  }

  button.outlined-default:hover:enabled {
    background-color: rgba(0, 0, 0, 0.04);
    @apply border-gray-A900 dark:border-dark-contrastText dark:bg-gray-A400;
  }

  button.outlined-default:disabled {
    @apply bg-gray-100 dark:bg-transparent border-gray-300 dark:border-gray-900 text-gray-300 dark:text-gray-900;
  }

  button.outlined-secondary {
    @apply bg-transparent border border-solid border-secondary text-secondary;
  }

  button.outlined-secondary:hover:enabled {
    background-color: rgba(7, 94, 64, 0.14);
    @apply border border-solid border-secondary text-secondary;
  }

  button.outlined-secondary:disabled {
    @apply bg-gray-100 border-gray-300 text-gray-300;
  }

  button.outlined-error {
    @apply bg-transparent border border-solid border-error text-error;
  }

  button.outlined-error:hover:enabled {
    background-color: rgba(212, 33, 84, 0.14);
    @apply border border-solid border-error text-error;
  }

  button.outlined-error:disabled {
    @apply bg-gray-100 border-gray-300 text-gray-300;
  }

  button.outlined-water {
    @apply bg-transparent border border-solid border-blue-500 text-blue-500;
  }

  button.outlined-water:hover:enabled,
  button.outlined-water:focus {
    background-color: rgba(59, 130, 246, 0.14);
    @apply border border-solid border-blue-500 text-blue-500;
  }

  button.outlined-water:disabled {
    @apply bg-gray-100 border-gray-300 text-gray-300;
  }

  span.feedback-error {
    @apply text-xs text-error;
  }

  span.feedback-success {
    @apply text-xs text-success;
  }

  input.outline-error {
    @apply outline-none border-error text-error;
  }

  input.outline-success {
    @apply outline-none border-success;
  }

  input.outline-error:focus {
    @apply outline-none ring-1 ring-error-200 border-error;
  }

  input.outline-success:focus {
    @apply outline-none ring-1 ring-success-200 border-success;
  }

  .dropdown input:focus {
    @apply outline-none ring-0 border-0;
  }

  .h-vh {
    height: calc(100vh - 80px);
  }

  .min-h-vh {
    min-height: calc(100vh - 80px);
  }

  .gradient-purple {
    background-image: linear-gradient(105.48deg, #5553ff 1.36%, #1f1e63 100%);
  }

  .gradient-green {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }

  .gradient-blue {
    background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  }

  .text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Markdown Styling */
  .md h2,
  .md h3,
  .md h4,
  .md h5,
  .md h6,
  .md p {
    @apply py-4;
  }

  .md h3 {
    @apply text-4xl;
  }

  .sub-heading {
    @apply text-xl text-blueGray-500 dark:text-gray-800;
  }

  .md a {
    @apply text-primary dark:text-primary-200 hover:text-primary-700 hover:underline;
  }

  .md ul {
    @apply list-disc list-inside;
  }

  .md p {
    @apply text-xl leading-relaxed;
  }

  .md li {
    @apply text-xl leading-relaxed;
  }

  .md blockquote {
    @apply bg-brown-50 dark:bg-dark-80;
    border-left: 5px solid #b078ff;
    margin: 1.5em 0.5em;
    padding: 1px 20px 16px;
    overflow-x: scroll;
  }

  .md code {
    @apply text-lg rounded px-1 bg-markdown-codeBg text-markdown-codeText dark:bg-gray-A200 dark:text-dark-contrastText;
  }

  .md img {
    @apply self-center;
  }

  .contribution-statement li {
    @apply text-base leading-relaxed;
  }

  .contribution-statement p {
    @apply text-base leading-relaxed p-2;
  }

  .about-container .md p {
    @apply text-lg leading-relaxed;
  }

  .about-container .md a {
    text-decoration: none;
  }

  .iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
